body { font-family: Arial, sans-serif; margin: 20px; }
h1 { color: darkblue; }
form { margin-bottom: 20px; }


.suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
    position: absolute;
    width: calc(100% - 100px); /* ширина поля мінус кнопка */
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
.suggestions li {
    padding: 8px;
    cursor: pointer;
}
.suggestions li:hover {
    background: #f0f0f0;
}

